* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	box-sizing: border-box;
}

a,
span,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input[type="submit"],
input[type="text"] {
	border: none;
	background-color: transparent;

	&:focus {
		outline: 0;
	}
}

fieldset {
	border: 0;
	padding: 0.01em 0 0 0;
	margin: 0;
	min-width: 0;
}
