$black: #292929;
$elevation1: #fffef8;
$elevation2: #fffcef;
$separator: #e6e5df;
$subtitle: #7a7777;

$border-size: 6px;

@mixin border-full {
	border: $border-size solid $black;
}
@mixin border {
	border: 5px solid $black;
}

@mixin color-svg($color: 'black') {
	*[stroke]:not([stroke='none']) {
		stroke: $color !important;
	}
	*:not([fill='none']) {
		fill: $color !important;
	}
}
